@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


	*{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: "Poppins" , sans-serif;
			list-style: none;
			scroll-behavior: smooth;
			text-decoration: none;
	}
body{
		background-color: var(--bg-color);
		color: var(--text-color);

	}

:root{
		--text-color: #f5f5f5;
		--hover-color: #12f7ff;
		--bg-color: #250821;
		--big-font:2.5rem;
		--normal-font:2rem;
		
		--neon-box-shadow:0 0 .8rem #12f7ff;
		--h2-font:3rem;
		--p-font:1rem;
		--font-neon-text-shadow:0 0 10px rgba(18,247,255,0.3),
		0 0 20px rgba(18,247,255,0.3),
		0 0 30px rgba(18,247,255,0.3),
		0 0 40px rgba(18,247,255,0.3),
		0 0 70px rgba(18,247,255,0.3),
		0 0 80px rgba(18,247,255,0.3),
		0 0 100px rgba(18,247,255,0.3),
		0 0 150px rgba(18,247,255,0.3);
	}
		header{
		position: fixed;
		width: 100%;
		top: 0;
		right: 0;
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 10%;
		
		border-bottom: 1px solid transparent;

	}
	.logo{
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 1px;

	} 
	span{
		color: var(--hover-color);

	}
	.navlist{
		display: flex;

	}
	.navlist a{
		font-size: var(--p-font);
		color: var(--text-color);
		font-weight: 500;
		padding: 10px 27px;
	}
.navlist a:hover{
	color: var(--hover-color);
	text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
	 0 0 20px rgba(18, 247, 255, 0.6), 
	  0 0 30px rgba(18, 247, 255, 0.6),
	   0 0 70px rgba(18, 247, 255, 0.6),
	    0 0 80px rgba(18, 247, 255, 0.6),
	     0 0 100px rgba(18, 247, 255,0.6),
	      0 0 150px rgba(18, 247, 255, 0.6);

}

.navlist a.active{
	color: var(--hover-color);

}
section{
	padding: 100px 10%;
}

.contact-section{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.contact-info{
	color: #ffff;
	max-width: 500px;
	line-height: 65px;
	padding-left: 50px;
	font-size: 18px;

}
.contact-info{
margin-right: 20px;
font-size: 25px;
}

.contact-inf0, .contact-form{
	flex: 1;
}
.contact-form{
	color: #ffff;
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.contact-form .text-box{
	background: #87CEEB;
	color: #fff;
	border: none;
	width: calc(50% - 10px);
	height: 50px;
	padding: 12px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}

.contact-form .text-box:first-child{
	margin-right: 15px;

}

.contact-form textarea{
	background: #000;
	color: #fff;
	border: none;
	width: 100%;
	padding: 12px;
	font-size: 15px;
	min-height: 200px;
	max-height: 400px;
	resize: vertical;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}
.contact-form .send-btn{
	float: right;
	background: ##00008B;
	background: #ffff;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	transition-property: background;

}
.contact-form .send-btn:hover{
	background: #0582E3;

}

@media screen and (max-width: 950px){
	.contact-section{
		flex-direction: column;
	}
}